#app {
  background: #F039C1;
  margin: auto;
  width: 60%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid;
  border-radius: 5px;
}

h1 {
  color: #F3D655
}
h6 {
  color: #F3D655
}

input#email {
  background: #F3D655
}

input {
  background: #26BFBB
}

div#button {
  text-align: right;
}
